body{
  margin:0px;
  background-color: #f3f3f3;
}
h2{padding: 10px;}

.homepage{margin-top: 50px; text-align: center;}

th,td{border: 1px solid gray; padding: 5px;}

.top-bar{
    background-color: #fafafa;
    height: 40px;
    width: 100%;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    overflow: hidden;
    align-items: center;
    padding-top: 4px;
}

.dropbtn {
    color: black;
    background-color:  #fafafa;
    padding-top: 4px;
    font-size: 16px;
    height: 30px;
    width: 80px;
    border: none;
}

.dropdown p{
  color: #656565;
}

.dropbtn:hover{
  background-color: white;
  box-shadow: -2px 0px 2px -2px rgba(0,0,0,.2);
}

.dropdown:hover .dropbtn{
  background-color: white;
  box-shadow: -2px 0px 2px -2px rgba(0,0,0,.2);
}
  
.dropdown {
  float: right;

}
  
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content .buttons, p {
  padding-left: 20px;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

  
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content{
  display: block;
}

.buttons .join-btn{
  background-color: #335d2d;
  border-radius: 4px;
  color: white;
  border: none;
  width: 80px;
  height: 30px;
  cursor: pointer;
}

.buttons .login-btn{
  background-color: #7ea04d;
  border-radius: 4px;
  color:white;
  border: none;
  width: 80px;
  height: 30px;
  cursor: pointer;
}

.form-popup{
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

.form-container{
  max-width: 300px;
  padding: 10px;
  background-color: white;
  margin: 5% auto 15% auto;
  border-radius: 20px;

  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
  
}

.form-popup .title{
  color: #335d2d;
  text-align: center;
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

.form-container input[type=email],.form-container input[type=password]{
  width: 100%;
  padding: 15px 0;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=email]:focus, .form-container input[type=password]:focus{
  background-color: #ddd;
  outline: none;
}

.form-container .btn{
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel{
  background-color: red;
}

.form-container .btn:hover, .open-button:hover{
  opacity: 1;
}

.tabs{
  padding: 20px;
  height: 40px;
}

.tabs button{
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
  text-align: center;
  margin-left: 30px;
}

.active{
  color: #335d2d;
  border-bottom: 3px solid #335d2d;
}

.header{
  background-color: #fff;
  white-space: nowrap;
  overflow-x: auto;
  margin-top: 2px;
  height: 70px;
}

.header input[type=text]{
  width: 40%;
  padding: 6px;
  margin-top: 16px;
  margin-left: 30%;
  border: 2px solid #335d2d;
  border-radius: 12px;
  display: inline-block;
}

.cart{
  display: inline-block;
  margin-left: 88px;
  margin-top: -2px;
}

.cart-logo{
  width: 28px;
  color: #335d2d;
  cursor: pointer;
  margin-bottom: -8px;
}

.slideshow-container{
  background: #000;
  height: 272px;
  width: 680px;
  margin: 40px auto 0;
  border-radius: 10px;
  overflow: visible;
  position: relative;
  float: right;
  margin-right: 30%;
}

.slides{
  display: none;
}

.slides img{
  vertical-align: middle;
  max-width: 100%;
  transition: white 0.7s ease-in 0.3s;
  border-radius: 10px;
}

.active{
  background-color: #717171;
}

.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.sidebar{
  background-color: white;
  width: 180px;
  float: left;
  margin-left: 60px;
}

.sidebar b{
  padding: 30px 0 0 20px;
}

.sidebar ul{
  list-style-type: none;
}

.sidebar li{
  margin: 20px 0;
}

.new-arrivals{
  float: right;
  margin-right: 20px;
  width: 140px;
  background-color: white;
}

.new-arrivals img{
  width: 120px;
  height: auto;
}